<div class="chatroom-message" id="message-<%= message.id %>">

  <div class="messages-avatar">
    <%= cl_image_tag message.user.photo.key %>
  </div>
  
  <div class="messages-words">
    <p class="timestamp"><%= message.created_at.strftime("%e %b, %H:%M") %></p>
    <p class="message-content"><%= message.content %></p>
  </div>


</div>
