body{

  background-color: linear-gradient(to bottom, #f5f6fc85, #EE9A93ba), opacity($color: #0000006e);
     h1{
      position: relative;
      color: $font;
      text-align:center;
      margin: 0.5rem;
      line-height: 0.9;
      }
  }
