<h1>Your invites</h1>
<% if @invites.count == 0 %>
  <p>You don't have any pending invitations</p>
  <% else %>
  <% @invites.each do |invite| %>
    <ol><li><%= invite.status %>
    <%= link_to "Accept", shrine_user_path(invite.id, status: 'accept'), data: {turbo_method: :patch } %>
    <%= link_to "Decline", shrine_user_path(invite.id, status: 'decline'), data: {turbo_method: :patch, turbo_confirm: "Are you sure?"} %>

    </li></ol>
  <% end %>
<% end %>
