<div class = "members-cards-container">

  <div class = "members-header-title"> <h1> <%= "#{@shrine.first_name}'s Shrine Members" %> </h1> </div>

  <div class = "users-list">
    <% @shrine_creator.each do |user| %>
        <div class = "user-preview">
          <div class = "user-header">
            <h5 class = "user-name"> <%= "#{user.first_name} #{user.family_name}" %></h5>
            <p class = "status"> Creator </p>
          </div>
        </div>
    <% end %>

    <% @sorted_shrine_members.each do |user| %>
        <div class = "user-preview">
          <div class = "user-header">
            <h5 class = "user-name"> <%= "#{user.first_name} #{user.family_name}" %></h5>
          </div>
        </div>
    <% end %>

    <% @sorted_invited_users.each do |user| %>
        <div class = "user-preview">
          <div class = "user-header">
            <h5 class = "user-name"> <%= "#{user.first_name} #{user.family_name}" %></h5>
            <p class = "status"> Invited </p>
          </div>
        </div>
    <% end %>
  </div>
</div>
