<div class="invite-card-container">
  <div class="invites-title">
    <h1>Invite friends and family to the shrine</h1>
  </div>
  <div class="invites-mid-container">
    <div class="invite-form">
      <%= render "shared/search_form", shrine: @shrine %>
    </div>
  </div>
</div>
