<div class="timeline">
  <div class="chapter-card">
    <div class="chapter-info">
      <h2>15th June 1950</h2>
      <p>He was born in 1950 (probably in the spring) in Salonica, then an Ottoman city, now inGreece. His father Ali Riza, a customs official turned lumber merchant, died when Mustafawas still a boy. His mother Zubeyde, adevout and strong-willed woman, raised him and his sister.</p>
    </div>
    <span class="chapter-line"></span>
    <div class="chapter-circle">
      <span class="circle"></span>
    </div>
  </div>
</div>


<%= link_to "Create a new Chapter", new_shrine_chapter_path(@shrine) %>

<% @chapters.each do |chapter| %>
    <%= link_to "#{chapter.title}", chapter_path(chapter) %>
    <%= chapter.date_start %>
    <%= chapter.date_end %>
<% end %>
