.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - 50px);
}

.photocard {
  width: 20rem;
  height: 15rem;
  border-radius: .5rem;
  background: #F2D2CF;
  border: 1px solid #EDE9E8;
  color: #EDE9E8;
  overflow: hidden;
  background-size: 100% 100%;
  .id-tag {
    width: 100%;
    padding: 5px;
  }
  h2 {
    position: absolute;
    bottom: 0;
  }
  h4 {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
}

.shrine-img-top {
  position: absolute;
  min-height: 100%;
  width: 100%
}

.biocard {
  width: 20rem;
  height: 7rem;
  border-radius: .5rem;
  background: #F2D2CF;
  border: 1px solid #EE9A93;
  font-size: 12px;
}

.timelinecard {
  width: 20rem;
  height: 9rem;
  border-radius: .5rem;
  background: #F2D2CF;
  border: 1px solid #EE9A93;
  text-align: center;
  h1 {
    position: absolute;
    top: 30%;
  }

  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}

.timelinecard:hover {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
}

.squarecard {
  width: 9.6rem;
  height: 9rem;
  border-radius: .5rem;
  background: #F2D2CF;
  border: 1px solid #EE9A93;
  display: flex;
  align-items: center;
  justify-content: center;

  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}

.squarecard:hover {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
}

.invitecard {
  width: 20rem;
  height: 4rem;
  border-radius: .5rem;
  background: #EE9A93;
  border: 1px solid #FBF0EF;
  text-align: center;
  h5 {
    position: absolute;
    top: 30%;
  }

  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}

.invitecard:hover {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover {
  text-decoration: none;
  color: inherit;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  text-align: center;
}
