// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "timeline";

.cool-title {
position: absolute;
width: 350px;
height: 75px;
left: 25px;
top: 79px;
}
