// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "timeline";
@import "buttons";
@import "invite_card";
@import "chapter_show";


.cool-box {
  width: 350px;
  height: 75px;
  left: 19px;
  top: 79px;
  background-color: #F2D2CF;
  border-radius: .5rem;
  margin-top: 20px;
  }

  #cool-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  margin-top: 15px;
  margin-left: 30px;

  color: #000000;
  }

  .cool-logo {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .cool-footer {
  width: 390px;
  height: 65px;
  background-color: #F2D2CF;
  margin-bottom: none;
  }

  .bottom-link{
   text-decoration: none;
   font-size: larger;
   font-weight: bold;
   color: #1b1919;
  }

  .pin{
    font-size: 36px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 6px;
  }

  .sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#F2D2CF;
    padding: 10px 0;
  }
