.members-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 50px);
  padding: 20px 20px 0px 20px;
}

.members-header-title {
  margin-top: 10px;
  border-bottom: 1px solid #C03E35;
}

.users-list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  padding: 0px 20px;
  max-height: 80vh;
  overflow: scroll;
}

.user-preview {
  align-items: center;
  width: 100%;
  display: flex;
  padding-bottom: 10px;
  border-bottom: 0.75px solid #C03E35;
  gap: 3.5vh;
}


.member-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.5px solid #C03E35;
  justify-content: left;
}

.user-header {
  justify-content: space-between;
  text-align: center;
  width: 175px;
}

.user-name {
  color: #200B09;
  align-self: flex-end;
  font-size: 22px;
  text-align: center;
  font-family: headers-font;
}

.status {
  font-size: 16px;
  text-align: center;
  font-family: body-font;
}

.footer-content {
  width: 95%;
  align-items: center;
  border-top: 1px solid #C03E35;
  display: flex;
  flex-direction: column;
}

.member-count {
  color: #EE9A93;
  padding: 4px;
  margin-top: 0.5vh;
}

.invitecard-mini {
  width: 12rem;
  height: 2.5rem;
  border-radius: .5rem;
  background: #C03E35;
  border: 1px solid #FBF0EF;
  text-align: center;
  padding: 6px 0px 6px 0px;
  margin-bottom: 0.5vh;
  p {
    position: relative;
    color: #EDE9E8;
    justify-content: center;
  }

  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}
