.chatroom-container {
  width: 100vw;
  max-height: 100vh;
  margin: auto;
}

.chat-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: $gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  padding-bottom: 15px;
  h1 {
    margin: 0;
    text-align: center;
  }
}

.messages-container {
  background-color: $white;
  height: 80vh;
  overflow: scroll;
  overscroll-behavior: none;
  padding: 30px;
  display: flex;
  flex-direction: column;
}



.chatroom-input-container {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: $gray;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  position: sticky;
  bottom: 0;
  textarea {
    height: 40px;
    padding-left: 20px;
    border: none;
    border-radius: 40px;
    border: 1px solid $font;
  }
  .btn {
    border: 1px solid $font;
    border-radius: 40px;
    background-color: $brand;
  }
}

.message-row {
  margin-bottom: 30px;
}

.chatroom-message {

}


.sender-style, .receiver-style {
  max-width: 90%;
  min-width: 50%;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  p {
    margin: 0;
  }
}

.sender-style {
  background-color: $brand;
  .chatroom-message {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr;
  }
  .messages-avatar {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    align-self: flex-start;
    justify-self: flex-end;
    margin-right: -20px;
    margin-top: -25px;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  .timestamp {
    font-size: 13px;
    align-self: flex-end;
    justify-self: flex-start;
  }
  .message-content {
    margin-top: 10px;
  }
  .messages-words {
    margin-top: -20px;
    display: grid;
  }
}

.receiver-style {
  background-color: $white;
  .chatroom-message {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr;
  }
  .messages-avatar {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    align-self: flex-end;
    justify-self: flex-start;
    margin-left: -20px;
    margin-top: -25px;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  .timestamp {
    font-size: 13px;
    align-self: flex-start;
    justify-self: flex-end;
  }
  .message-content {
    margin-top: 10px;
  }
  .messages-words {
    margin-top: -20px;
    display: grid;
  }
}

// .bottom {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: flex-end;
  //   margin-top: 10px;
  // }
  // .timestamp {
    //   width: 50px;
    //   text-align: left;
    //   display: flex;
    //   flex-direction: column;

    // }
    // .message-content {
      //   margin-left: 10px
// }
// p {
  //   text-align: left;
  // }

  // .bottom {
  //   display: flex;
  //   flex-direction: row-reverse;
  //   justify-content: space-between;
  //   align-items: flex-end;
  //   margin-top: 10px;
  // }
  // .timestamp {
  //   width: 50px;
  //   text-align: right;
  //   display: flex;
  //   flex-direction: column;

  // }
  // .message-content {
  //   margin-right: 10px
  // }
