
.modal-content {
  color:$font;

}


.modal-header {
  background: linear-gradient(14deg, $white 50%, $brand 150%);
  border-style:none;
}

.modal-title {

  color:$font;
}

.modal-body {
  border-style:none;
  background-color: $gray;
  background: linear-gradient(200deg, $white 50%, $brand 120%);

}

.btn-modal{
  order: 1px solid $font;
  border-style: none solid solid none;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
  color: $white;
  text-align: center;
  background-color: $secondary;
  cursor: pointer;
  border-radius: .5rem;
  border: 1px solid #FBF0EF;
  align-items: center;
  justify-content: center;
  padding: 2%;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}

#friend, #family {
  margin: 0.7rem;
  accent-color: $secondary;
}
