.navbar-lewagon {
  justify-content: space-between;
  background:  #EE9A93;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.cool-icon {
border: none;
}

.usericon-text {
  text-decoration: none;
  color: black;
}

.myavatar {
  margin-right: 4px !important;
}
