.timeline-container {
  width: 390px;
  margin: auto;
  position: relative;
  padding: 20px 0;
  min-height: 80vh;
  a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
  }
}

.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(227, 222, 222);
  content: "";
}

.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}

.timeline-header__title {
  color: #000000;
  font-size: 40px;
  margin: 0;
}

.new_chapter {
  position: relative;
  margin: 10px;
  a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 80vh;
}

.timeline:before {
  position: absolute;
  left: 50%;
  width: 1px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgb(0, 0, 0);
}

.timeline-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px;
  margin-bottom: 35px;
}

.timeline-image {
  margin-left: 5px;
  position: relative;
  width: 45%;
  height: 160px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  .filter {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.timeline_content {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  h3 {
    font-size: 20px;
  }
  p {
    font-style: italic;
    font-size: 15px;
  }
  div {
    display: flex;
    column-gap: 10px;
  }
}


// .timeline__content-title {
//   text-align: center;
//   font-weight: normal;
//   margin-left: auto;
//   margin-right: auto;
//   font-size: 30px;
//   box-sizing: border-box;
//   color: #ffffff;
// }

// .timeline__content-desc {
//   font-size: 20px;
//   box-sizing: border-box;
//   color: #ffffff;
//   text-align: center;
//   margin-top: 10px;
// }
